body {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

.column {
    padding: 100px 20px;
}

.sidebar-model-ui-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#sidebar {
    width: 220px;
    height: 500px;
    border: 1px solid #ccc;
    background-color: white;
}

#model-ui {
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    background-color: white;
}

#formula-ui {
    height: 150px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
